<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.starwingsapp">

    <permission
        android:name="com.example.admin.starwingsapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.admin.starwingsapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/starwings_72"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.admin.starwingsapp" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".MyGCMRegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".OurCourses"
            android:label="Our Courses"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.admin.starwingsapp.OURCOURSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactInfoActivity"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Downloads"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Support"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".VideosListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResourcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PapersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PapersDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailyScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryActivity"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetInTouchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PublicationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockRateActivity"
            android:parentActivityName=".StockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockNewsActivity"
            android:parentActivityName=".StockActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DisplayGalleryPictureActivity"></activity>
    </application>

</manifest>