<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sachinstarwings.learning.destination">

    <permission
        android:name="com.sachinstarwings.learning.destination.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.admin.starwingsapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.sachinstarwings.learning.destination.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/starwings_72"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sachinstarwings.learning.destination.AboutUsActivity"
            android:parentActivityName="com.sachinstarwings.learning.destination.Dashboard"
            android:screenOrientation="portrait" />
        <activity android:name="com.sachinstarwings.learning.destination.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sachinstarwings.learning.destination.NotificationActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.admin.starwingsapp" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.sachinstarwings.learning.destination.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.sachinstarwings.learning.destination.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.sachinstarwings.learning.destination.MyGCMRegistrationIntentService"
            android:exported="false" />

        <activity
            android:name="com.sachinstarwings.learning.destination.OurCourses"
            android:label="Our Courses"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.admin.starwingsapp.OURCOURSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sachinstarwings.learning.destination.Dashboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.ContactInfoActivity"
            android:parentActivityName="com.sachinstarwings.learning.destination.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.CenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.Downloads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.TopicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.ChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.CourseActivity"
            android:parentActivityName="com.sachinstarwings.learning.destination.ResourcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sachinstarwings.learning.destination.Support"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sachinstarwings.learning.destination.VideosListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.VideoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.sachinstarwings.learning.destination.ResourcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.PapersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.PapersDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.DailyScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.GalleryActivity"
            android:parentActivityName="com.sachinstarwings.learning.destination.Dashboard"
            android:screenOrientation="portrait" />
        <activity android:name="com.sachinstarwings.learning.destination.MainActivity" />
        <activity
            android:name="com.sachinstarwings.learning.destination.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.GetInTouchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.PublicationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.StockActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.StockRateActivity"
            android:parentActivityName="com.sachinstarwings.learning.destination.StockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sachinstarwings.learning.destination.StockNewsActivity"
            android:parentActivityName="com.sachinstarwings.learning.destination.StockActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sachinstarwings.learning.destination.DisplayGalleryPictureActivity" />
        <activity android:name="com.sachinstarwings.learning.destination.CoursePapersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.sachinstarwings.learning.destination.CourseVideosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.sachinstarwings.learning.destination.VideosChapterActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>